.jumbotron {
    background-image: url(friend.png);
    height: 50%;
}
.jumbotron h1 {
    align-self: top;
    color: white;
}
.jumbotron h2 {
    align-self: top;
    color: white;
}

h5 { 
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h6 { 
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
} 

.footer {
    position: fixed;
}